/* Estilos generales (reseteando los predeterminados por los navegadores) */

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Definiendo mi paleta de colores con la función Var() */
:root {
    --Olivine: #8cb369;
    --Flax: #f4e285;
    --Sandy-brown:#f4a259;
    --varidian: #5b8e7d;
    --Bittersweet-shimmer: #bc4b51;
    --Black: #333333;
    --White: #ffffff;
}

body {
    margin: 0;
    background: url(imagenes/crumpled-paper.jpg);
}

header {
    color: var(--Olivine);
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--Black)
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 5px;
    border:50px;
    padding: 30px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
}


.box {
    border: solid;
    border-color: Var(--Sandy-brown);
    border-radius: 5px;
    background-color: var(--Flax);
    padding: 2px;
    margin: 5px;
    height: 30px;
}

textarea[name="user-input"] {
    margin: 20px;
    color: var(--Black)
}

textarea[name="user-input"]:hover {
    margin: 20px;
    border: solid;
    border-color: var(--Olivine);
}

#reset-button {
    border: solid;
    border-color: var(--Sandy-brown);
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--Flax);
    padding: 5px;
    color: var(--Black);
}

#reset-button:hover {
    border: solid;
    border-color: var(--Sandy-brown);
    border-radius: 5px;
    background-color: var(--Bittersweet-shimmer);
    padding: 5px;

}

footer {
    color: var(--Black);
    margin-top: 30px;
    text-align: center;
}

footer:hover {
    color: var(--Olivine);
}